<div *ngIf="isDataLoaded" class="inner">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>ФИО/Дата рождения/Телефон/Email</mat-card-title>
        <mat-card-subtitle>Заполните все поля, чтобы перейти к дальнейшему шагу вашей регистрации.
          <form [formGroup]="participantForm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Фамилия</mat-label>
              <input [readonly]="registered" class="input" formControlName="secondName" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Имя</mat-label>
              <input [readonly]="registered" class="input" formControlName="firstName" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Отчество</mat-label>
              <input [readonly]="registered" formControlName="lastName" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <input (keydown)="disableDate()" [matDatepicker]="picker" [max]="maxDateVal" [min]="minDateVal" [readonly]="registered"
                     formControlName="birthday" matInput placeholder="Дата рождения">
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker ngDefaultControl></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Моб. телелефон</mat-label>
              <input [maxlength]="13" [readonly]="registered" class="input" formControlName="number" matInput
                     type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Почта</mat-label>
              <input [readonly]="registered" formControlName="email" matInput type="email">
            </mat-form-field>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Место жительста / Место обучения</mat-card-title>
        <mat-card-subtitle>
          <form [formGroup]="addressForm" class="left">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Область</mat-label>
              <input [readonly]="registered" class="input" formControlName="area" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Район</mat-label>
              <input [readonly]="registered" class="input" formControlName="district" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Населённый пункт</mat-label>
              <input [readonly]="registered" formControlName="locality" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Улица (проспект, переулка)</mat-label>
              <input [readonly]="registered" class="input" formControlName="street" matInput type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 min">
              <mat-label>Дом</mat-label>
              <input (keypress)="numberOnly($event)" [readonly]="registered" class="input" formControlName="house" matInput
                     min="1"
                     type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 min">
              <mat-label>Корп.</mat-label>
              <input (keypress)="numberOnly($event)" [readonly]="registered" formControlName="corps" matInput min="1"
                     type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 min">
              <mat-label>Кв.</mat-label>
              <input (keypress)="numberOnly($event)" [readonly]="registered" formControlName="flat" matInput min="1"
                     type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Учреждение образования</mat-label>
              <input [readonly]="registered" formControlName="educationalInstitution" matInput type="text">
            </mat-form-field>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Паспортные данные (только латиница)</mat-card-title>
        <mat-card-subtitle>
          <form [formGroup]="passportForm">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Серия</mat-label>
              <input [maxlength]="2" [readonly]="registered" class="input" formControlName="series" matInput
                     type="text">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Номер</mat-label>
              <input [maxlength]="7" [readonly]="registered" class="input" formControlName="number" matInput
                     type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Идентификационный номер</mat-label>
              <input [maxlength]="14" [readonly]="registered" formControlName="identityNumber" matInput
                     type="text">
            </mat-form-field>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br/>
    <div class="row">
      <mat-card class="policy">
        <mat-card-header>
          <mat-card-title>Обработка ваших данных</mat-card-title>
          <mat-card-subtitle>При создании учётной записи вы даёте согласие с нашими правилами
            и условиями пользования веб-сервисом
            <div>
              <section class="left">
                <mat-checkbox [(ngModel)]="policy" class="example-margin">Политика конфиденциальности</mat-checkbox>
              </section>
              <section class="left">
                <mat-checkbox [(ngModel)]="dataProcessing" class="example-margin">Обработка данных в соответствии с
                  законом о персональных данных
                  от 7 мая 2021 г. № 99-3
                </mat-checkbox>
              </section>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div class="center">
            <button (click)="submit()" [disabled]="formsValid()" class="w-50" color="primary" disableRipple extended
                    mat-fab>
              Добавить
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
