<div class="inner">
  <div>
    <mat-card *ngIf="isDataLoaded">
      <mat-card-header>
        <mat-card-title>Выбор специальности</mat-card-title>
        <mat-card-subtitle>У вас есть возможность выбрать две специальности, для того чтобы добавить вторую
          специальность необходимо заполнить первую специальность и нажать на кнопку добавить специальность
          <form>
            <mat-form-field appearance="fill" class="input-m">
              <mat-label>Название специальности № {{ specializationsForParticipant.length + 1 }}</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="s">
                <mat-option *ngFor="let spec of loadedSpecialization" [value]="spec">
                  {{spec.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content align="left">
        <h3>Выбранная специальность: {{selectedValue.name}}</h3>
        <h3>Код специальности: {{selectedValue.code}}</h3>
        <h3>Учебный предмет по специальности: {{selectedValue.subject}}</h3>
        <h3>Количество мест: {{selectedValue.countOfPlaces}}</h3>
      </mat-card-content>
      <mat-card-actions>
        <div class="center">
          <button (click)="addSpecialization()" class="w-50" color="primary" disableRipple extended
                  mat-fab>
            Добавить
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <br/>
    <br/>
    <div *ngIf="specializationsForParticipant.length!=0" class="row">
      <mat-card>
        <mat-card-content align="left">
          <h2>Для участия в олимпиаде вы выбрали следующие специальности:</h2>
          <hr/>
          <div *ngFor="let spec of specializationsForParticipant" appearance="fill" class="input-m">
            <h3>Выбранная специальность: {{spec.name}}</h3>
            <h3>Код специальности: {{spec.code}}</h3>
            <h3>Учебный предмет по специальности: {{spec.subject}}</h3>
            <h3>Количество мест: {{spec.countOfPlaces}}</h3>
            <div class="center">
              <button (click)="remove(spec)" class="w-50" color="primary" disableRipple extended
                      mat-fab>
                Убрать
              </button>
            </div>
            <hr/>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <br/>
    <div class="row">
      <mat-card class="policy">
        <mat-card-header>
          <mat-card-title>Обработка ваших данных</mat-card-title>
          <mat-card-subtitle>При создании учётной записи вы даёте согласие с нашими правилами
            и условиями пользования веб-сервисом
            <div>
              <section class="left">
                <mat-checkbox [(ngModel)]="policy">Политика конфиденциальности</mat-checkbox>
              </section>
              <section class="left">
                <mat-checkbox [(ngModel)]="dataProcessing">Обработка данных в соответствии с
                  законом о персональных данных
                  от 7 мая 2021 г. № 99-3
                </mat-checkbox>
              </section>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div class="center">
            <button (click)="submit()" [disabled]="formsValid()" class="w-50" color="primary" disableRipple extended
                    mat-fab
                    routerLink="/success-registration">
              Добавить
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
