<div class="login-page">
  <h2>Вход в личный кабинет</h2>
  <form [formGroup]="loginForm">
    <div class="justify-content-center">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ваш логин</mat-label>
          <input matInput [maxlength]="7" [minlength]="4"
                 formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ваш пароль</mat-label>
          <input matInput [maxlength]="16" formControlName="password" type="password">
        </mat-form-field>
      </div>
      <div id="controls" class="row">
        <button style="width: 20%" [disabled]="loginForm.invalid" (click)="submit()" mat-flat-button color="primary">
          Войти
        </button>
        <br>
        <br>
        <br>
        <button style="width: 40%" routerLink="/register" mat-stroked-button color="primary">
          Регистрация
        </button>
      </div>
    </div>

  </form>
</div>
