<div class="login-page">
  <h2>Вход в личный кабинет</h2>
  <form [formGroup]="loginForm">
    <div class="justify-content-center">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ваш логин</mat-label>
          <input [maxlength]="7" [minlength]="4" formControlName="username"
                 matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ваш пароль</mat-label>
          <input [maxlength]="16" formControlName="password" matInput type="password">
        </mat-form-field>
      </div>
      <div class="row" id="controls">
        <button (click)="submit()" [disabled]="loginForm.invalid" color="primary" mat-flat-button style="width: 20%">
          Войти
        </button>
        <br>
        <br>
        <br>
        <button color="primary" mat-stroked-button routerLink="/register" style="width: 40%">
          Регистрация
        </button>
      </div>
    </div>

  </form>
</div>
