<div class="register-page">
  <h2>Register</h2>
  <p>Already have an account?
    <button color="primary" mat-stroked-button routerLink="/login">
      Log in
    </button>
  </p>
  <form [formGroup]="registerForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Ваш логин</mat-label>
        <input [maxlength]="7" formControlName="username"
               matInput>
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Ваш пароль</mat-label>
        <input [maxlength]="16" formControlName="password" matInput
               type="password">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Подтвердите пароль</mat-label>
        <input [maxlength]="16" formControlName="confirmPassword" matInput
               type="password">
      </mat-form-field>
    </div>

    <button (click)="submit()" [disabled]="registerForm.invalid" color="primary" mat-flat-button style="width: 5rem">
      Register
    </button>

  </form>
</div>
