<br>
<div class="container">
  <div class="fixed"><h1>Самолёты</h1></div>
  <div class="rubbery" *ngxPermissionsOnly="['ROLE_MANAGER', 'ROLE_SYSTEM']">
    <button mat-flat-button color="primary" (click)="addAirplane()">Добавить самолёт</button>
  </div>
  <button mat-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div>
  <mat-divider style="margin-top: 20px; margin-bottom: 20px;"></mat-divider>

  <table mat-table [dataSource]="airplane" class="mat-elevation-z8"
         matSort matSortActive="icaoCode, model, loadCapacity"
         matSortDisableClear matSortDirection="desc"
         (matSortChange)="applySort($event)">
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Модель</th>
      <td mat-cell *matCellDef="let air"> {{air.model}} </td>
    </ng-container>

    <ng-container matColumnDef="icaoCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> ICAO код</th>
      <td mat-cell *matCellDef="let air"> {{air.icaoCode}} </td>
    </ng-container>

    <ng-container matColumnDef="loadCapacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Число мест</th>
      <td mat-cell *matCellDef="let air">{{air.loadCapacity}}</td>
    </ng-container>
    <ng-container matColumnDef="examination">
      <th mat-header-cell *matHeaderCellDef> Добавить проверку</th>
      <button mat-cell *matCellDef="let element" mat-raised-button color="primary" (click)="addExamination(element)">
        Knock
      </button>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    class="paginator"
    [length]="totalCount"
    [pageIndex]="page"
    [pageSize]="size"
    [pageSizeOptions]="[1, 4, 5, 6]"
    (page)="loadAirplanes($event)"
  ></mat-paginator>
</div>
