<div class="inner" *ngIf="isDataLoaded">
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Информация о законном представителе</mat-card-title>
        <mat-card-subtitle>Заполните все поля, чтобы перейти к дальнейшему шагу вашей регистрации.
          <form [formGroup]="personForm">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Фамилия</mat-label>
              <input type="text" class="input" [readonly]="participantExist" matInput formControlName="secondName">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Имя</mat-label>
              <input type="text" class="input" [readonly]="participantExist" matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Отчество</mat-label>
              <input type="text" matInput [readonly]="participantExist" formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Номер телефона</mat-label>
              <input type="text" [maxlength]="13" class="input" matInput [readonly]="participantExist" formControlName="number">
            </mat-form-field>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Паспортные данные (только латиница)</mat-card-title>
        <mat-card-subtitle>
          <form [formGroup]="passportForm">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Серия</mat-label>
              <input type="text" class="input" [maxlength]="2" [readonly]="participantExist" matInput formControlName="series">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Номер</mat-label>
              <input type="number" class="input" [maxlength]="7" [readonly]="participantExist" matInput formControlName="number">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Индентификационный номер</mat-label>
              <input type="text" matInput [maxlength]="14" [readonly]="participantExist" formControlName="identityNumber">
            </mat-form-field>
          </form>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <br/>
    <div class="row">
      <mat-card class="policy">
        <mat-card-header>
          <mat-card-title>Обработка ваших данных</mat-card-title>
          <mat-card-subtitle>При создании учётной записи вы даёте согласие с нашими правилами
            и условиями пользования веб-сервисом
            <div>
              <section class="left">
                <mat-checkbox [(ngModel)]="policy">Политика конфиденциальности</mat-checkbox>
              </section>
              <section class="left">
                <mat-checkbox [(ngModel)]="dataProcessing">Обработка данных в соответствии с
                  законом о персональных данных
                  от 7 мая 2021 г. № 99-3
                </mat-checkbox>
              </section>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div class="center">
            <button mat-fab extended color="primary" class="w-50" [disabled]="formsValid()" (click)="submit()"
                    disableRipple>
              Добавить
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
