<div>
  <h2>Изменить профиль</h2>
  <form [formGroup]="profileEditForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Имя</mat-label>
      <input formControlName="firstname" matInput
             type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Фамилия</mat-label>
      <input formControlName="lastname" matInput
             type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Электронная почта</mat-label>
      <input formControlName="email" matInput
             type="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Биография</mat-label>
      <input formControlName="bio"
             matInput>
    </mat-form-field>
    <div class="row">
      <button (click)="closeDialog()" class="w-50"
              disableRipple mat-button mat-dialog-close>
        Закрыть
      </button>
      <button (click)="submit()" [disabled]="profileEditForm.invalid" class="w-50" color="primary" disableRipple
              mat-button>
        Обновить
      </button>
    </div>
  </form>
</div>
