<div>
  <h2>Изменить профиль</h2>
  <form [formGroup]="profileEditForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput type="text"
             formControlName="firstname">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput type="text"
             formControlName="lastname">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Электронная почта</mat-label>
      <input matInput type="email"
             formControlName="email">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Биография</mat-label>
      <input matInput
             formControlName="bio">
    </mat-form-field>
    <div class="row">
      <button (click)="closeDialog()" class="w-50"
              mat-button mat-dialog-close disableRipple>
        Закрыть
      </button>
      <button color="primary" class="w-50" [disabled]="profileEditForm.invalid" (click)="submit()" mat-button disableRipple>
        Обновить
      </button>
    </div>
  </form>
</div>
